<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> >> MySocial : {{perfil.nome}} </title>
</head>
<body>
    <h1>Detalhe de Perfil</h1>
    <p>nome: {{ perfil.nome }}</p>
    <p>email: {{ perfil.email }}</p>
    <p>telefone: {{ perfil.telefone }}</p>
    <p>empresa: {{ perfil.empresa }}</p>
    
    <p><a href="{% url 'convidar' perfil.id %}">
        Convidar Conexão
    </a></p>
</body>
</html>
